h1 {
    z-index: 10;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 500%;
}

.heading {
    z-index: 10;
    display: flex;
    justify-content: center;
}

.background {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    animation: scrollBackground 20s linear infinite;
}

.right-background {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
}

@keyframes scrollBackground {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.navigation-button {
    margin-top: 150px;
    margin: 30px;
    z-index: 10;
   width: 20rem;
   height: 9rem;
   font-size: 50px;
    
}

form[name="Buttons"] {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 150px;
    border-radius: 10px;
}






