
<div class="heading">
    <img src="assets/NBALogo2.jpg">
    <h1>Welcome to NBA Stats!</h1>
   
</div>

<form name="Buttons" class="d-flex">
    
<button class="navigation-button" id="Teams-button" (click)="navigate('nba/teams')">Teams</button>
<button class="navigation-button" id="Players-button" (click)="navigate('nba/players')">Players</button>
<button class="navigation-button" id="Games-button" (click)="navigate('nba/games')">Games</button>

</form>

<img src="assets/NBAStatsHintergrund.jpg" class="background">
<img src="assets/NBAStatsHintergrund.jpg" class="background right-background">

